:root {
    --teal:#83cbd3;
    --darkgray: #303237;
    --palenavy: #28344d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

header {
    width: 100%;
    height: 4em;
    background-color: var(--darkgray);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}


#name-background {
    background-color: var(--teal);
    display: flex;
    align-items: center;
    flex-wrap: flex;
    justify-content: flex-end;
    padding-right: 30px;
    width: 20%;
    height: 70%;

}

#fence-image div h3 {
    color: var(--darkgray);
}


header div h1 {
    font-size: 40px;
    color: var(--darkgray);
}

.list {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.list li {
    color: var(--teal);
    display:flex;
    flex-direction: row;
    margin: 1em;
    border-bottom: 3px solid var(--teal);
    padding: 0 5px 5px 5px;
}

header #justify-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
}

#fence-image {
    background-image: url("../images/fence-header.jpeg");
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 60px;
    padding-bottom: 30px;
}

#fence-image div {
    background-color: var(--teal);
    width: 230px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#fence-image div h3 {
    font-size: 25px;
}

/* main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

main  {
    padding: 20px 50px;
} 


.titles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    padding-left: 30px;
    color: var(--palenavy);
    font-size: 50px;
    width: 150px;
    height: 100%;
    padding: 35px;
    padding-left: 20%;
    border-right: 5px solid var(--palenavy);
}


.titles h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: end;
    padding: 10px 0;
}

.about-me {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    padding: 35px 0;
}

#id-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
    height: 100%;
    padding-left: 30px;
}

.work {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    padding: 35px 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.flex-item {
    min-width: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    margin: .5em;
    text-decoration: none;
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    background-size: 100%;
    background-position: no-repeat;
    background-color: var(--darkgray);
    border: 5px solid var(--teal);
}

.flex-item h2 {
    color: black;
    font-size: 22px;
}

.flex-item h3 {
    color: var(--palenavy);
    padding-top: 1em;
    font-size: 12px;
}

.flex-item div {
    padding: 8px 10px;
    background-color: var(--teal);
}

.project-1 {
    background-image: url("../images/surf-report.jpeg");
}

.project-2 {
    background-image: url("../images/LED-wall.jpeg");
}

.project-3 {
    background-image: url("../images/calculator.jpeg");
}

.project-4 {
    background-image: url("../images/pastel-puzzles.jpeg");
}

*/

.project-5 {
    background-image: url("../images/run-buddy.jpeg");
} 


.flex-item:first-child {
    min-height: 300px;
    max-width: 920px;
    flex-basis: 100%;
    width: 100%;
}


.footer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
}

.list {
    padding-left: 6em;
}


.footer .list li {
    color: black;
    margin: 1em 15px;
    border-bottom: 3px solid var(--darkgray);
    padding: 0 5px 5px 5px;

}

/* @media screen and (max-width: 768px) {
    .flex-iten, 
    .flex-item:first-child {
        flex-basis: 100%;
    }

    .flex-item:first-child {
        min-height: 150px;
    }


} */